<h3>Custom pipe</h3>

<h4>Links</h4>
<ul class="links-list">
  <li>
    <a href="https://angular.io/cli/generate#pipe-command"
      target="_blank">Generate</a>
  </li>
  <li>
    <a href="https://angular.io/api/core/Pipe"
      target="_blank">
      angular.io/api/core/Pipe
    </a>
  </li>
  <li>
    <a href="https://angular.io/api/core/PipeTransform"
      target="_blank">
      PipeTransform
    </a>
  </li>
</ul>


<h4>Generate</h4>
<div class="code">
  <pre>
    <code>{{"ng generate pipe \<name>"}}</code>
    </pre>
  </div>

  <section class="sample">
    <h3>sample</h3>
    <h4 class="sample__title">Объект, на основе которого создаеттся новый</h4>
    <div class="code">
      <pre><code>{{"themeLists.ts

export const themeLists: Itheme[] = [
...
  {
    name: 'Angular',
    isSubThemeShow: false,
    subTheme: [
      {
        name: 'Pipes',
        description: [
          {
            name: 'Built-In Pipes',
            progress: false,
            date: null,
            url: '',
          },
          {
            name: 'Custom pipe',
            progress: true,
            date: new Date('06/21/2022 14:54'),
            url: 'custom-pipe',
          }
        ],
        progress: true,
      },
      {
        name: 'anchor',
        description: [
          {
            name: 'anchor',
            progress: true,
            date: new Date('Jun 19 2022 15:15:00'),
            url: 'angular-anchor',
          }
        ],
        progress: true,
      }
    ]
  },
..."}}</code></pre>
    </div>

    <h4 class="sample__title">Custom Pipe</h4>
    <p>Выборка и сортировка по дате создания. При отсутствии даты элемент не попадает в новый массив</p>
    <div class="code">
      <pre><code>{{showPipeFile}}</code></pre>
    </div>

    <h4 class="sample__title">HTML</h4>
    <div class="code">
      <pre><code>{{showPipeFileHTML}}</code></pre>
    </div>

    <h4 class="sample__title-result">Result</h4>
    <app-browser-frame>
          <ul class="sample__result"
    *ngFor="let recent of sampleThemeLists | recentTopics">
    <li>
      <p class="sample__result__title">{{recent.name}}</p>
      <p class="sample__result__theme">
        {{recent.theme}}, {{recent.subTheme}}
      </p>
      <p class="sample__result__date">{{recent.date | date: 'EEEE, MMMM d, y'}}</p>
    </li>
    </ul>
    </app-browser-frame>

  </section>
