.promise {

  &__description {
    &__part {
      margin: 20px 0;

      &__create {
        list-style: decimal;

        li {
          padding-top: 50px;
        }
      }
    }


  }
}
