<section class="section">

  <app-links-list
    [linksData]="linksData">
  </app-links-list>

  <article class="section__info">
    <p class="section__info__text"><span class="bold">Observable</span> - это
      название механизма, который
      используется в Angular для программирования асинхронных потоков данных в
      декларативном стиле. Observable является синонимом термина stream. К
      асинхронным потокам данных обычно относятся такие концепции, как события,
      http запросы и триггеры в коде.</p>

    <p class="observable__info__text">Данный механизм позволяет создавать
      объекты, инициирующие асинхронные
      потоки (stream или observable) и объекты, которые за ними наблюдают
      (observer).</p>

    <p class="observable__info__text">Объекты RxJS Observable создаются либо с
      использованием операторов
      создания (of, from, fromEvent), либо через new Observable.</p>
  </article>
</section>
