@import '../../../../vareable';

:host {

  .main {
    line-height: 1.8;

    &__themes-list {

      &__themes {
        padding-left: 20px;
        font-size: 28px;

        &__item {

          &__name {
            display: flex;

            &__attow {
              width: 40px;
              height: 40px;
              cursor: pointer;

              .open {
                width: 20px;
                height: 10px;
                fill: $mainColorDark;
                transform: rotate(-90deg);
                transition: .3s;
              }

              .close {
                width: 20px;
                height: 10px;
                fill: $mainColorDark;
                transform: rotate(0deg);
                transition: .3s;
              }
            }
          }

          &__subTheme {
            padding-left: 20px;
            list-style: disc;
            font-size: 16px;

            .active {
              color: $additionalDark;

              a {
                color: $mainColor;
                text-decoration: underline;
                cursor: pointer;
                transition: .3s;

                &:hover {
                  color: $mainColorDark;
                }
              }
            }

            &__item {


              &__description {
                padding-left: 20px;
                font-size: 14px;
                list-style: circle;
              }
            }
          }

          &__subTheme .active {
            list-style: url(../../../../assets/icons/check.svg);
          }
        }
      }

    }

  }
}
