@import '../../../../vareable';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;

  .main {
    max-width: 1200px;
    width: 100%;
    line-height: 1.8;

    &__themes-list {

      &__themes {
        padding-left: 20px;
        font-size: 28px;

        &__item {

          &__name {
            display: flex;

            &__attow {
              width: 40px;
              height: 40px;

              .open {
                width: 20px;
                height: 10px;
                fill: $mainColorDark;
                transform: rotate(-90deg);
                transition: .5s;
              }

              .close {
                width: 20px;
                height: 10px;
                fill: $mainColorDark;
                transform: rotate(0deg);
                transition: .5s;
              }
            }
          }




          &__subTheme {
            padding-left: 20px;
            font-size: 16px;


            &__item {
              &__description {
                padding-left: 20px;
                font-size: 14px;
              }
            }
          }
        }
      }

    }

  }
}
