<section class="Objects Props">
  <app-links-list
    [linksData]="linksData"></app-links-list>
  <p><span class="bold">Объект</span> — это набор свойств, и каждое свойство
    состоит из имени и значения,
    ассоциированного с этим именем</p>
  <p><span class="bold">Key(ключ)</span>, -- это строка (также называемая
    «именем свойства»), или Symbel</p>
  <p><span class="bold">Value(значение)</span>, может быть любого типа</p>
  <p>При использовании литерального синтаксиса {{"{...}"}} можно сразу поместить в объект несколько свойств в виде пар «ключ: значение»:</p>
  <div class="code">
    <pre><code></code>{{code[0]}}</pre>
  </div>
</section>
