<section class="props">
  <app-links-list
    [linksData]="linksData"></app-links-list>
  <p><span class="bold">Объект</span> — это набор свойств, и каждое свойство
    состоит из имени и значения,
    ассоциированного с этим именем</p>
  <p><span class="bold">Key(ключ)</span> -- это строка (также называемая
    «именем свойства»), или Symbol</p>
  <p><span class="bold">Value(значение)</span>, может быть любого типа</p>
  <section class="props__key-info">
    <h5>Key, -- особенности наименования</h5>
    <ul style="list-style: disc;">
      <li>
        являются чувствительными к регистру;
      </li>
      <li>
        могут быть строками JavaScript, или тем, что может быть сконвертировано
        в строку, включая пустую строку;
      </li>
      <li>
        если ключ состоит из нескольких слов, тогда он должен быть заключен в
        кавычки;
      </li>
    </ul>
  </section>

  <section>
    <p>При использовании литерального синтаксиса {{"{...}"}} можно сразу
      поместить
      в объект несколько свойств в виде пар «ключ: значение»:</p>
    <div class="code">
      <pre><code></code>{{code[0]}}</pre>
    </div>
  </section>

  <section>
    <p>Для обращения к свойствам используется запись «через точку»:</p>
    <div class="example">
      <div class="example__code code">
        <pre><code></code>{{code[1]}}</pre>
      </div>
      <div class="example__result">
        <p>Pixel</p>
        <p>2</p>
      </div>
    </div>

    <p>Для обращения к свойствам разделенным пробелом или '-' используется
      запись «через [""]:</p>
    <div class="example">
      <div class="example__code code">
        <pre><code></code>{{code[7]}}</pre>
      </div>
      <div class="example__result">
        <p>true</p>
      </div>
    </div>
  </section>

  <section>
    <h5>Добавление свойства</h5>
    <p>Cвойство можно добавить следующим образом:</p>
    <pre><code>{{"obj.key = 'value'"}}</code></pre>
    <p>Если свойство состоит из нескольких слов, то оно должно быть заключено в
      кавычки:</p>
    <div class="example">
      <div class="example__code code">
        <pre><code></code>{{code[2]}}</pre>
      </div>
      <div class="example__result">
        <pre><code>{{code[3]}}</code></pre>
      </div>
    </div>
  </section>

  <section>
    <p>Для удаления свойства мы можем использовать оператор delete:</p>
    <div class="example">
      <div class="example__code code">
        <pre><code></code>{{code[5]}}</pre>
      </div>
      <div class="example__result">
        <pre><code>{{code[4]}}</code></pre>
      </div>
    </div>
  </section>

  <section>
    <h5>Проверка существования свойства</h5>
    <ul style="list-style: disc;">
      <li>Сравнение с undefined
        <div class="code">
          <pre><code>{{code[6]}}</code></pre>
        </div>
        Минус этого способа в том, что если значение свойства будет равно
        undefined, то при наличии свойства сравнение даст true. Поэтому в таком
        случае, рекомендуется использовать null
        <pre><code>cat.weight = null;
console.log(cat.weight !== undefined);
//truw, такое свойство есть</code></pre>
      </li>
    </ul>
  </section>

  <section>
    <h5>Получение всех свойств/значений объекта</h5>
    <ul style="list-style: disc;">
      <li>
        При помощи for ... in;
        <div class="example">
          <div class="example__code code">
            <pre><code></code>{{code[8]}}</pre>
          </div>
          <div class="example__result">
            <pre><code>{{code[9]}}</code></pre>
          </div>
        </div>
      </li>
      <li>
        При помощи встроенных методов Object;

      </li>
    </ul>
  </section>
</section>
