<section class="recursion">
  <h2>Recursion</h2>
  <app-links-list
    [linksData]="linksData"></app-links-list>
  <p>
    Рекурсия, -- действие, когда функция вызывает саму себя,
  </p>
  <section class="recursion__sample">
    <h3>Вычисление максимальной глубины стека вызовов</h3>
    <div class="recursion__sample__code">
      <div class="code">
        <pre><code>{{codes[0]}}</code></pre>
      </div>
      <div class="recursion__sample__code__result">
        <h4 class="recursion__sample__code__result__title">Result</h4>
        <h5>Вызов функции из кода</h5>
        <p>10482</p>
        <h5>Вызов функции в console</h5>
        <p>10464</p>
      </div>
    </div>

    <h3>Вычисление factorial</h3>
    <div class="recursion__sample__code">
      <div class="code">
        <pre><code>{{codes[1]}}</code></pre>
      </div>
      <div class="recursion__sample__code__result">
        <h4 class="recursion__sample__code__result__title">Result</h4>
        <p>{{codes[2]}}</p>
        <p>{{codes[3]}}</p>
        <p>6</p>
      </div>
    </div>

    <h3>Вычисление глубины вложенности массива</h3>
    <div class="recursion__sample__code">
      <div class="code depth">
        <pre><code>{{codes[4]}}</code></pre>
      </div>
      <div class="recursion__sample__code__result depth-sample">
        <ul style="list-style: decimal">
          <h4>Объяснение примера</h4>
          <li>
            <p>При первом вызове функции мы передаем параметры:</p>
            <ul style="list-style: disc; padding-left: 20px;">
              <li>arr -- массив, который необходимо проверить</li>
              <li>currentLevel = 1, -- текущий уровень вложенности</li>
              <li>maxDepth = 0, -- определяем максимальный уровень вложенности,
                т.к.
                массив может состоять из нескольких под массивов, с разными
                уровнями</li>
            </ul>
            <p>Два последних параметра, для первого вызова
              имеют значение по умолчанию. Именно они будут нашими счетчиками.</p>
          </li>
          <li>
            Сравниваем текущий уровень вложенности с maxDepth. Если текущий
            больше, то присваиваем его значение maxDepth, в противном случае
            maxDepth остается прежним
          </li>
          <li>
            В цикле ищем элементы, которые являются
            массивами. Если элемент оказался массивом, то рекурсивно вызываем
            функцию arrayDepth. Для работы счетчиков результат функции
            присваивается параметру maxDepth, а в параметрах передается
            (currentLevel + 1) и текущий maxDepth.
          </li>
          <li>
            Возвращаем текущий maxDepth
          </li>
        </ul>

        <h4 class="recursion__sample__code__result__title">Result</h4>

        <p>6</p>
      </div>
    </div>

  </section>
</section>
