<section class="recursion">
  <h2>Recursion</h2>
  <app-links-list
    [linksData]="linksData"></app-links-list>
  <p>
    Рекурсия, -- действие, когда функция вызывает саму себя,
  </p>
  <section class="recursion__sample">
    <h3>Вычисление максимальной глубины стека вызовов</h3>
    <div class="recursion__sample__code">
      <div class="code">
        <pre><code>{{codes[0]}}</code></pre>
      </div>
      <div class="recursion__sample__code__result">
        <h4 class="recursion__sample__code__result__title">Result</h4>
        <h5>Вызов функции из кода</h5>
        <p>10482</p>
        <h5>Вызов функции в console</h5>
        <p>10464</p>
      </div>
    </div>

  </section>
</section>
