<section class="objects">
  <h2>Objects</h2>
  <section class="objects__nav nav">
    <ul class="objects__nav__list nav__list">
      <li
        routerLink="create"
        [ngClass]="{'active': nav['create'], 'objects__nav__list__item': true, 'nav__list__item': true}">
        Create
      </li>
      <li
      routerLink="props"
      [ngClass]="{'active': nav['props'], 'objects__nav__list__item': true}">
      Props
    </li>
      <li
        [ngClass]="{'active': false, 'objects__nav__list__item': true, 'blocked': true}">
        methods
      </li>
      <li
        [ngClass]="{'active': false, 'objects__nav__list__item': true, 'blocked': true}">
        keys/values
      </li>
      <li
        [ngClass]="{'active': false, 'objects__nav__list__item': true, 'blocked': true}">
        flags
      </li>
      <li
        [ngClass]="{'active': false, 'objects__nav__list__item': true, 'blocked': true}">
        get & set
      </li>
    </ul>
  </section>
</section>
<router-outlet></router-outlet>
