@import '../../../../variable';

:host {

  .observable {
    padding: 0 20px;

    &__info {

      &__text {
        padding-bottom: 20px;

        &::first-letter {
          text-transform: uppercase;
          padding-left: 20px;
        }
      }

      &__section {

        &__title {
          display: flex;
          align-items: center;

          h3 {
            width: fit-content;
            padding-right: 10px;
          }

          svg {
            width: 15px;
            height: 15px;
            fill: $mainColor;
            cursor: pointer;
          }
        }

        &__text {
          padding-bottom: 20px;

          &::first-letter {
            text-transform: uppercase;
            padding-left: 20px;
          }
        }

        &__code-example{
          &__result {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__tags {
              height: 50px;
            }
          }
        }
      }

      &__section:nth-child(2n) {
        background: $mainColorLight2;
      }
    }
  }
}
