@import '../../../../vareable';

:host {

  .observable {

    &__info {

      &__text {
        padding-bottom: 20px;

        &::first-letter {
          text-transform: uppercase;
          padding-left: 20px;
        }
      }

      &__section {

        &__title {
          display: flex;
          align-items: center;
          h3 {
            width: 70px;
          }

          svg {
            width: 15px;
            height: 15px;
            fill: $mainColor;
            cursor: pointer;
          }
        }

        &__text {
          padding-bottom: 20px;

          &::first-letter {
            text-transform: uppercase;
            padding-left: 20px;
          }
        }


      }

      &__section:nth-child(2n) {
        background: $mainColorLight2;
      }
    }
  }
}
