<section>
  <h3>Create objects</h3>
  <app-links-list
    [linksData]="linksData">
  </app-links-list>

  <section>
    <p>Объекты используются для хранения коллекций различных значений и более
      сложных сущностей в виде пар "ключ - значение".
    </p>
    <p>Объект передается по ссылке. Переменной можно присвоить ссылку на Объект,
      но не сам Объект.</p>
  </section>
  <section class="create">
    <ul
      style="list-style: decimal;">
      <h3>Способы создания</h3>

      <!-- Литерал объекта -->
      <li>
        <h4>Литерал объекта</h4>
        <p>При помощи {{"{...}"}}, с необязательным списком свойств. Свойство –
          это
          пара «ключ: значение», где ключ – это строка, а значение может быть
          чем угодно</p>
        <div class="create__sample">
          <div class="code">
            <pre><code>{{code[0]}}</code></pre>
          </div>
          <button class="create__sample__result"
            (click)="sayHi()">Try</button>
        </div>
      </li>

      <!-- Конструктор объекта -->
      <li>
        <h4>Конструктор объекта</h4>
        <div class="create__sample">
          <div class="code">
            <pre><code>{{code[1]}}</code></pre>
          </div>
          <pre><code>{{code[2]}}</code></pre>
        </div>
      </li>

      <!-- Функция-конструктор -->
      <li>
        <h4>Функция-конструктор</h4>
        <div class="create__sample">
          <div class="code">
            <pre><code>{{code[3]}}</code></pre>
          </div>
          <pre><code>{{code[4]}}</code></pre>
        </div>
        <div class="create__sample">
          <div class="code">
            <pre><code>{{code[12]}}</code></pre>
          </div>
          <pre><code>{{code[4]}}</code></pre>
        </div>
      </li>

      <!-- Object.create() -->
      <li>
        <h4>Через метод Object.create()</h4>
        <p>Нюанс в передаче второго параметра. Свойство объекта передается
          дескриптором свойства</p>

        <div class="create__sample">
          <div class="code">
            <pre><code>{{code[7]}}</code></pre>
          </div>
          <div class="create__sample__result">
            <p>Пустой объект</p>
            <p>{{"{}"}}</p>
          </div>
        </div>

        <div class="create__sample">
          <div class="code">
            <pre><code>{{code[8]}}</code></pre>
          </div>
          <div class="create__sample__result">
            <p>Объект с прототипом proto</p>
            <pre><code>{{code[10]}}</code></pre>
          </div>
        </div>

        <div class="create__sample">
          <div class="code">
            <pre><code>{{code[9]}}</code></pre>
          </div>
          <div class="create__sample__result">
            <!-- <p>Объект с прототипом proto
              и свойством переданным дескриптором
            </p> -->
            <pre><code>{{code[11]}}</code></pre>
          </div>

        </div>
      </li>

      <!-- копирование -->
      <li>
        <h4>Через копирование другого объекта</h4>
        <div class="code">
          <pre><code>{{code[5]}}</code></pre>
        </div>
      </li>

      <!-- Как экземпляр класса -->
      <li>
        <h4>Как экземпляр класса</h4>
        <div class="code">
          <pre><code>{{code[6]}}</code></pre>
        </div>
      </li>

    </ul>
  </section>
</section>
