.create {
  ul {
    li {
      margin-top: 30px;
    }
  }

  &__sample {
    display: flex;
    flex-wrap: wrap;
    gap: 20ox;
    align-items: center;

    &__description {
      margin-left: 50px;

    }

    button {
      font-size: 24px;
    }
  }
}

.code {
  width: 500px;

  @media (max-width: 500px) {
    width: fit-content;
  }
}
