<section class="event-loop">
  <h2>Event loop</h2>
  <ul class="links-list">
    <p class="links-list-title">
      Links
    </p>
    <li>
      <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/EventLoop"
        target="_blank">
        JavaScript EventLoop MDN
      </a>
    </li>
    <li>
      <a href="https://learn.javascript.ru/event-loop"
        target="_blank">
        Событийный цикл: микрозадачи и макрозадачи . Современный учебник JS
      </a>
    </li>
    <li>
      <a
        href="https://highload.today/kak-ustroen-event-loop-v-javascript-parallelnaya-model-i-tsikl-sobytij/#:~:text=Event%20Loop%20выполняет%20одну%20простую,стек%20вызовов%2C%20который%20его%20запустит."
        target="_blank">
        Как устроен Event Loop в JavaScript: параллельная модель и цикл событий
      </a>
    </li>
  </ul>
  <section class="event-loop__discription">
    <h3>Basic concepts</h3>

    <p><span class="bold">Evrnt Loop</span> -- событийный цикл. Он отвечает за
      выполнение кода, сбора и обработки событий (макро-задачм) и выполнения
      под-задач из очереди (микро-задачи)</p>
    <h4>Стэк вызовов</h4>
    <p>В JS Код выполняется
      последовательно, и также может порождать микро и макро
      задачи</p>
    <h4>Очередь</h4>
    <h5>Фактически можно выделить 2 очереди -- макро и микро задач</h5>
    <p><span class="bold"></span> Под макро задачами понимаются обработка
      пользовательских события, сетевых
      события и таймеры. Каждоя маеро задача ассациируется с функцией, которая
      вызывается для обработки данной задачи, вызов функции создаёт новый
      контекст выполнения и заносится в стек вызовов. Обработка задачи
      заканчивается,
      когда стек снова становится пустым. Следующая задача извлекается из
      очереди и начинается её обработка</p>
    <p>Микрозадачи приходят только из кода. Обычно они создаются промисами,
      выполнение .then/catch/finally становятся миеро задачами. Также
      миерозадачи порождает await</p>
    <h3>Пример</h3>
    <div class="event-loop__example">
      <div class="event-loop__example__code code">
        <ng-container *ngIf="showFirstMacroTask">
          <pre id="eventLoopPre" class="event-loop__example__code__pre">
    <code [ngClass]="{'select': stringSelectIterationArr[0]}">{{codes[0]}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[1]}">{{"task01(): void {"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[2]}">{{"  setTimeout(() => console.log('01'), 0);"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[3]}">{{"  console.log('02');"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[4]}">{{"  const a = new Promise((resolve, reject) => {"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[5]}">{{"    setTimeout(() => {"}}</code>
    <code [ngClass]="{'select': false}">{{"      console.log('03');"}}</code>
    <code>{{"      resolve('resolve a');  })"}}</code>
    <code>{{"  });"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[6]}">{{"  console.log('04');"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[7]}">{{"  a.then((resolve) => console.log('05'));"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[8]}">{{"  setTimeout(() => console.log('06'), 0);"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[10]}">{{"  function fun01() {"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[11]}">{{"    console.log('07');"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[13]}">{{"    function fun02() {"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[14]}">{{"      setTimeout(() => console.log('08'), 0);"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[15]}">{{"      console.log('09')"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[16]}">{{"      a.then((resolve) => console.log(`10`));"}}</code>
    <code>{{"    }"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[12]}">{{"    fun02();"}}</code>
    <code>{{"  }"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[9]}">{{"  fun01();"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[17]}">{{"  const b = new Promise((resolve, reject) => {"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[18]}">{{"    console.log('11');"}}</code>
    <code>{{"    resolve('resolve b');"}}</code>
    <code>{{"  });"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[19]}">{{"  b.then((resolve) => console.log(`12`));"}}</code>
    <code [ngClass]="{'select': stringSelectIterationArr[20]}">{{"  console.log('13. log -- самый последний');"}}</code>
    <code >{{"}"}}</code></pre>
        </ng-container>
        <ng-container *ngIf="showMacroTasksQueue">
          <pre>
        <code>{{"Очередь макро-задач"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[21]}">{{"Макро-задача-1"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[23]}">{{"Макро-задача-2"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[24]}">{{"Макро-задача-3"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[27]}">{{"Макро-задача-4"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[28]}">{{"Макро-задача-6"}}</code>

        <code>{{"Очередь микро-задач"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[25]}">{{"Микро-задача-01"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[26]}">{{"Микро-задача-02"}}</code>
        <code [ngClass]="{'select': stringSelectIterationArr[22]}">{{"Микро-задача-02"}}</code>
      </pre>
        </ng-container>
      </div>
      <div class="event-loop__example__arroy">
        <button (click)="selectedCodeStrinOnClick()">
          <svg viewBox="0 0 27.52 14.41">
            <path
              d="M27.25,1.31L14.41,14.14c-0.36,0.36-0.95,0.36-1.31,0L0.27,1.31c-0.36-0.36-0.36-0.95,0-1.31h26.97
              C27.61,0.36,27.61,0.95,27.25,1.31z"></path>
          </svg>
        </button>
      </div>
      <div class="event-loop__example__text">
        <div class="event-loop__example__text__code-comment">
          <div
            *ngFor="let text of codeDescription; let i= index">
            <p
              *ngIf="stringSelectIterationArr[i]">{{text}}
            </p>
          </div>
        </div>
        <div class="event-loop__example__text__console">
          <h4>Console</h4>
          <ul style="font-family: monospace; line-height: 1.2;"
          *ngFor="let task of consoleData">
            <li>
              {{task}}
            </li>
          </ul>

        </div>
        <div class="event-loop__example__text__queue">
          <h4>Очередь Макро-задач</h4>
          <div class="event-loop__example__text__queue__macro">
            <div class="cards">Макро-задача-1</div>
            <div class="cards">Макро-задача-2</div>
            <div class="cards">Макро-задача-3</div>
            <div class="cards">Макро-задача-4</div>
            <div class="cards">Макро-задача-5</div>
            <div class="cards">Макро-задача-5</div>
        </div>
        <h4>Очередь Микро-задач</h4>
        <div class="event-loop__example__text__queue__micro">
          <div class="cards">Ммкро-задача-01</div>
          <div class="cards">Ммкро-задача-02</div>
          <div class="cards">Ммкро-задача-03</div>
        </div>
      </div>
      </div>
    </div>
    <button (click)="task01()">Show in Console</button>
  </section>
</section>
