<section class="event-loop">
  <h2>Event loop</h2>
  <ul class="links-list">
    <p class="links-list-title">
      Links
    </p>
    <li>
      <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/EventLoop"
        target="_blank">
        JavaScript EventLoop MDN
      </a>
    </li>
    <li>
      <a href="https://learn.javascript.ru/event-loop"
        target="_blank">
        Событийный цикл: микрозадачи и макрозадачи . Современный учебник JS
      </a>
    </li>
    <li>
      <a
        href="https://highload.today/kak-ustroen-event-loop-v-javascript-parallelnaya-model-i-tsikl-sobytij/#:~:text=Event%20Loop%20выполняет%20одну%20простую,стек%20вызовов%2C%20который%20его%20запустит."
        target="_blank">
        Как устроен Event Loop в JavaScript: параллельная модель и цикл событий
      </a>
    </li>
  </ul>
  <section class="event-loop__discription">
    <h3>Basic concepts</h3>

    <p><span class="bold">Evrnt Loop</span> -- событийный цикл. Он отвечает за
      выполнение кода, сбора и обработки событий (макро-задачм) и выполнения
      под-задач из очереди (микро-задачи)</p>
    <h4>Стэк вызовов</h4>
    <p>В JS Код выполняется
      последовательно, и также может порождать микро и макро
      задачи</p>
    <h4>Очередь</h4>
    <h5>Фактически можно выделить 2 очереди -- макро и микро задач</h5>
    <p><span class="bold"></span> Под макро задачами понимаются обработка
      пользовательских события, сетевых
      события и таймеры. Каждоя маеро задача ассациируется с функцией, которая
      вызывается для обработки данной задачи, вызов функции создаёт новый
      контекст выполнения и заносится в стек вызовов. Обработка задачи
      заканчивается,
      когда стек снова становится пустым. Следующая задача извлекается из
      очереди и начинается её обработка</p>
    <p>Микрозадачи приходят только из кода. Обычно они создаются промисами,
      выполнение .then/catch/finally становятся миеро задачами. Также
      миерозадачи порождает await</p>
    <h3>Пример</h3>
    <div class="event-loop__example">
      <div class="event-loop__example__code code">
        <pre class="event-loop__example__code__pre">
          <code>{{"//Создвем макро-задачу-1, нажимая на кнопку 'Show'"}}</code>
          <code [ngClass]="{'select': stringSelectIterationArr[0]}">{{codes[0]}}</code>

          <code>{{"//Вызываем функцию, ассоциирующуюся с этой  макро задачей"}}</code>
          <code [ngClass]="{'select': stringSelectIterationArr[1]}">{{"task01(): void {"}}</code>
          <code [ngClass]="{'select': stringSelectIterationArr[2]}">{{"  setTimeout(() => console.log('01. setTimeout 1'), 0);"}}</code>
          <code [ngClass]="{'select': stringSelectIterationArr[3]}">{{"  setTimeout(() => console.log('02. setTimeout 2'), 0);"}}</code>
          <code [ngClass]="{'select': stringSelectIterationArr[4]}">{{"  setTimeout(() => console.log('03. setTimeout 3'), 0);"}}</code>
      </pre>
      </div>
      <div class="event-loop__example__arroy">
        <button (click)="selectedCodeStrinOnClick()">
          <svg viewBox="0 0 27.52 14.41">
            <path
              d="M27.25,1.31L14.41,14.14c-0.36,0.36-0.95,0.36-1.31,0L0.27,1.31c-0.36-0.36-0.36-0.95,0-1.31h26.97
              C27.61,0.36,27.61,0.95,27.25,1.31z"></path>
          </svg>
        </button>
      </div>
    </div>
    <button (click)="task01()">Show</button>
  </section>
</section>
