@import '../../../../../vareable';

:host {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .event-loop {
    width: 96%;

    &__links {
      padding-right: 5px;
    }

    &__discription {
      line-height: 1.8;

      p {
        padding-bottom: 10px;
      }
    }

    &__example {
      display: flex;
      justify-content: space-between;

      &__code {
        width: 45%;
        &__pre {

          .select {
            background: $mainColorDark;
            color: #ffffff;
          }
        }
      }

      &__arroy {
        margin-top: 20px;
        button {
          width: 34px;
          height: 34px;
          padding: 0;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          box-shadow: 0px 0px 5px rgb(180, 180, 180);
          background: $mainColor;

          &:hover {
            background: $mainColorDark;
            box-shadow: none;
          }

          &:active {
            background: $mainColor;
          }

          &:active svg {
            fill: $mainColorLight;
          }

          svg {
            width: 28px;
            height: 12px;
            margin-top: 4px;
            fill: #ffffff;
          }
        }
      }

      &__text {
        width: 45%;
        height: 400px;
        background: $mainColorLight;
      }
    }
  }
}
