@import '../../../../vareable';

:host {

  .header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background: $mainColor;

    &__nav {
      a {
        color:  white;
        text-transform: uppercase;
        font-size: 24px;
      }
    }
  }

}
