.links {

  line-height: 1.8;

  h4 {
    font-weight: bold;
    font-size: 18px;
  }

  ul {
    list-style: disc;
    padding-bottom: 20px;
    margin-left: 20px;

    li {
      padding-left: 10px;
    }

    li::first-letter {
      text-transform: uppercase;
    }
  }
}
