<section class="pipes">
  <h3>Built-In Pipes</h3>
  <h4>Links</h4>

  <!-- link -->
  <ul>
    <li>
      <a href="https://angular.io/api/core/Pipe"
        target="_blank">
        angular.io/api/core/Pipe
      </a>
    </li>

    <li>
      <a href="https://angular.io/guide/pipes-overview"
        target="_blank">
        Understanding Pipes
      </a>
    </li>
    <li>
      <a href="https://angular.io/api/core/PipeTransform"
        target="_blank">
        PipeTransform -- Built-In Pipes
      </a>
    </li>
    <li>
      <a
        href="https://codecraft.tv/courses/angular/pipes/built-in-pipes/#_decimalpipe">
        Built-In Pipes
      </a>
    </li>
    <li>
      <a href="https://metanit.com/web/angular2/8.1.php"
        target="_blank">Работа с pipes</a>
    </li>
    <li>
      <a href="https://angular.io/api/common/AsyncPipe"
        target="_blank">AsyncPipe</a>
    </li>
  </ul>

  <ul class="pipes__built-In-pipes">
    <p class="pipes__built-In-pipes__title">Built-In Pipes</p>

    <!-- CurrencyPipe -->
    <li class="pipes__built-In-pipes__list">
      CurrencyPipe
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[0]}}</code></pre>
        </div>
        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ 35.05 | currency : 'USD' }}
        </div>
      </div>
    </li>

    <!-- DatePipe -->
    <li class="pipes__built-In-pipes__list">
      <p>DatePipe</p>
      <p><a href="https://angular.io/api/common/DatePipe" target="_blank">angular.io/api/common/DatePipe</a></p>
      <p>(description, date format)</p>

      <!-- shortTime -->
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[1]}}</code></pre>
        </div>
        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ date | date: 'shortTime' }}
        </div>
      </div>

      <!-- fullDate -->
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[2]}}</code></pre>
        </div>
        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ date | date: 'full' }}
        </div>
      </div>

      <!-- custom format -->
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[3]}}</code></pre>
        </div>
        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ date | date: 'EEE, MMM d, y'}}
        </div>
      </div>
    </li>

    <!-- DecimalPipe -->
    <li class="pipes__built-In-pipes__list">
      <p id="decimalPipe">DecimalPipe</p>
      <a href="https://angular.io/api/common/DecimalPipe#digitsinfo">angular.io/api/common/DecimalPipe#digitsinfo</a>
      <p>Форматирование числа</p>

      <ul class="pipes__built-In-pipes__list__params">
        <p>Параметры</p>
        <li>
          <span>minIntegerDigits:</span> The minimum number of integer digits
          before the decimal point. Default is 1
        </li>
        <li>
          <span>minFractionDigits:</span> The minimum number of digits after the
          decimal point. Default is 0
        </li>
        <li>
          <span>maxFractionDigits</span>: The maximum number of digits after the
          decimal point. Default is 3.
        </li>
        <li>
          If the formatted value is truncated it will be rounded using the
          "to-nearest" method:
        </li>
      </ul>
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[4]}}</code></pre>
        </div>
        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{3.6 | number: '1.0-0'}}
        </div>
      </div>
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[5]}}</code></pre>
        </div>
        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{1.6451114 | number: '3.0-3'}}
        </div>
      </div>
    </li>

    <!-- JsonPipe -->
    <li class="pipes__built-In-pipes__list">
      <p>JsonPipe</p>

      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[6]}}</code></pre>
        </div>

        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ myJSON | json }}
        </div>
      </div>
    </li>

    <!-- LowerCasePipe/UpperCasePipe -->
    <li class="pipes__built-In-pipes__list">
      <p>LowerCasePipe/UpperCasePipe</p>

      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[7]}}</code></pre>
        </div>

        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ 'HELLO' | lowercase }}
        </div>
      </div>
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[8]}}</code></pre>
        </div>

        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ 'hello' | uppercase }}
        </div>
      </div>

      <p style="font-weight: bold; margin-top: 15px;">CSS аналог</p>
      <div class="code">
        <pre><code>{{"text-transform: lowercase;
text-transform: uppercase;"}}</code></pre>
      </div>
    </li>

    <!-- PercentPipe -->
    <li class="pipes__built-In-pipes__list">
      <p>PercentPipe</p>
      <p>По умолчанию процент от 1</p>

      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[9]}}</code></pre>
        </div>

        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ 0.25 | percent }}
        </div>
      </div>
      <p>Параметры, как у <a (click)="scrollFn('decimalPipe')">DecimalPipe</a></p>
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[10]}}</code></pre>
        </div>

        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ 50.1234 | percent: '4.2-4' }}
        </div>
      </div>

    </li>

    <!-- SlicePipe -->
    <li class="pipes__built-In-pipes__list">
      <p>SlicePipe</p>

      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[11]}}</code></pre>
        </div>

        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ 'Long fish text' | slice:5:9 }}...
        </div>
      </div>
      <div class="pipes__built-In-pipes__list__sample">
        <div class="code">
          <pre><code>{{codes[12]}}</code></pre>
        </div>

        <div class="pipes__built-In-pipes__list__sample__result">
          <p>Result</p>
          {{ [1, 2, 3, 4, 5, 6] | slice:0:-2 }}
        </div>
      </div>
    </li>
  </ul>

</section>
