<section class="description"
  *ngIf="description">
  <div class="description__wrap">
    <h3>{{description.name}}</h3>
    <p
      *ngFor="let descript of description.descriptions">
      {{descript}}
    </p>
    <h4>Возвращаемое значение</h4>
    <p>{{description.returnValue}}</p>
    <h4>Пример</h4>
    <div class="description__wrap__code-sample"
      *ngFor="let code of description.code">
      <p>{{code.description}}</p>
      <div class="code"><pre><code>{{code.code}}</code></pre></div>
    </div>
  </div>

  <button (click)="close()">
    Close
  </button>
</section>
