 <section class="section">
  <h3>Создание Observable через оператор from</h3>
  <app-links-list
    [linksData]="linksData">
  </app-links-list>

  <p class="section__text">
    Создание Observable из массива, array-like object, Promise,
    итерируемого
    object, или Observable-like object.
  </p>

  <div class="code">
    <pre><code>{{code[0]}}</code></pre>
  </div>
  <h3>Пример</h3>
  <div class="code-examole">
    <div class="code">
      <pre><code>{{code[1]}}</code></pre>
    </div>
    <div class="result">
      <pre>
              10
              20
              30
              The End
            </pre>
    </div>
  </div>
</section>
