@import '../../../../variable';

:host {

  .sample {
    margin-top: 40px;
    margin-bottom: 80px;

    h3 {
      text-transform: uppercase;
    }

    &__title {
      margin-top: 50px;
      padding-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }

    &__title-result {
      margin-top: 50px;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }

    &__result {
      list-style: url(../../../../assets/icons/check.svg);
      line-height: 1.8;
      margin-left: 30px;


      &__title {
        font-weight: bold;
        font-size: 18px;
        color: $mainColorDark;
      }

      &__theme {
        font-size: 16px;
      }

      &__date {
        font-size: 14px;
      }
    }
  }
}
