@import '../../../../../vareable';

:host {
  line-height: 1.8rem;

  .pipes {
    margin-left: 20px;
    transition: .3s;

    a {
      cursor: pointer;
      color: $mainColor;

      &:hover {
        text-decoration: underline;
        color: $mainColorDark;
      }
    }
    &__built-In-pipes {
      margin-top: 10px;
      list-style: disc;


      &__title {
        font-weight: bold;
      }

      &__list {
        margin-top: 15px;
        &__params {
          li {
            span {
              font-weight: bold;
            }
          }
        }

        &__sample {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .code {
            width: 340px;
          }

          &__result {
            padding-left: 50px;
            p {
              text-transform: uppercase;
              color: $mainColorDark;
            }
          }
        }
      }



    }

    &__pipes-creation {
      margin-top: 10px;
      list-style: disc;

      &__title {
        font-weight: bold;
      }
    }
  }
}
