@import url(./reset.scss);
@import './vareable';

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Roboto';
  font-weight: 300;
  color: $mainColorFont;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $mainColor;
  margin-bottom: 20px;
}

h1 {
  font-size: 46px;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
}

a {
  cursor: pointer;
  color: $mainColor;

  &:hover {
    text-decoration: underline;
    color: $mainColorDark;
  }
}

button {
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
}

.code {
  width: fit-content;
  overflow: auto;
  box-shadow: 5px 5px 15px rgb(180, 180, 180);
  margin: 10px;
  border-radius: 4px;
}

pre {
  box-sizing: border-box;
  padding: 15px;
  color: $mainColorFont;
}

ul::first-letter {
  text-transform: uppercase;
}

.links-list {
  list-style: disc;
  padding-bottom: 20px;
}
